<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EALink_Registry_Changer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EALink_Registry_Changer.Properties.Settings>
            <setting name="registryValue" serializeAs="String">
                <value>"C:\Program Files (x86)\Origin\BattlefrontIIMOU.exe" "%1" "%2" "%3" "%4" "%5" "%6" "%7" "%8" "%9"</value>
            </setting>
            <setting name="hideTheApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backOffSeconds" serializeAs="String">
                <value>10</value>
            </setting>
        </EALink_Registry_Changer.Properties.Settings>
    </userSettings>
</configuration>